
/* Swiper */
.swiper {
  width: auto;
  height: auto; 
}

.swiper-pagination {
  height: 60px; 
}

.swiper-pagination-bullet {
  width: 5vw; /* Largeur du point */
  height: 4vh; /* Hauteur du point */
}

.swiper-pagination-bullet-active {
  background-color: #e9ff42;
}

.swiper-slide .conteneur-image{
  height: 100vh; /* Hauteur totale de la fenêtre de visualisation */
  width: 100vw; /* Largeur totale de la fenêtre de visualisation */
  background-size: 100% 100%;
  background-position: center; /* Centrer l'image de fond */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
}
/*-------------------*/

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.fill-remaining-space {
  flex: 1;
}
/* Ajustements pour que la troisième ligne prenne deux fois la hauteur des autres */
.double-height {
  flex: 2;
}

.flex-grow-1 {
    flex: 1;
}
.flex-grow-05 {
  flex: 0.5;
}
/* Styles spécifiques pour les hauteurs des blocs */
.height-1 { flex: 1; }
.height-2 { flex: 2; }
.height-3 { flex: 3; }
.full-height { height: 100%; }
.half-height {
    min-height: 50vh;
}

/* SLIDE N°2 */

.text-page_2_1 {
  text-align: center;
  color: #e9ff42; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 10vw;
  padding-top: 3vw;
  grid-column: 1 / 3;
}

.text-page_2_2 {
  text-align: center;
  color: #e9ff42; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 8vw;
} 

/* SLIDE N°3 */

.text-page_3_1 {
  text-align: center;
  color: #e9ff42; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 8vw;
}

.text-page_3_1_1 {
  text-align: center;
  color: #e9ff42; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 4vw;
}

.text-page_3_2 {
  text-align: center;
  color: #e9ff42;
  z-index: 2;
  font-size: 5vw;
}

.text-page_3_3 {
  text-align: center;
  color: #e9ff42;
  z-index: 2;
  font-size: 4vw;
}

.image-page_3_1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  width: 80vw;
  height: auto;
}

/* SLIDE N°4 */

.titre-page_4_1 {
  text-align: center;
  color: #1c6888; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 8vw;
} 

.titre-page_4_2 {
  text-align: center;
  color: #1c6888; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 5vw;
} 

.image-page_4_1 {
  height: 30vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.text-page_4_1 {
  text-align: center;
  color: #1c6888; /* Couleur du texte */
  z-index: 2; /* Assure que le texte est au-dessus de l'image */
  font-size: 4vw;
} 