{% load static %}

<div class="conteneur-image" style="background-image: url('{% static 'civiclapp/page_3.png' %}');">
    <div class="container-fluid d-flex flex-column">
        <!-- Première ligne -->
        <div class="row">
            <div class="col-12 p-2">
                <div class="text-page_3_1">L'isère (part) en Live</div>
                <div class="text-page_3_1_1">Quel serait le niveau d’eau si on vivait une crue historique ?</div>
            </div>
        </div>
        <!-- Deuxième ligne -->
        <div class="row">
            <div class="col-6 p-3">
                <div class="text-page_3_2">Scénario<br>habituel<br>👇</div>
            </div>
            <div class="col-6 p-3">
                <div class="text-page_3_2">Crue<br>historique<br>👇</div>
            </div>
        </div>
        <!-- Troisième ligne -->
        <div class="row">
            <div class="col-12 p-3">
                <iframe class="image-page_3_1" src="{% url 'slider' %}"></iframe>
            </div>
        </div>
        <!-- Quatrième ligne -->
        <div class="row">
            <div class="col-12 p-2">
                <div class="text-page_3_3">ℹ️ La photo de la crue a été créée par intelligence artificielle</div>
            </div>
        </div>
    </div>
</div>