{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>🏄 MétroSurf 🏄</title>
    <link rel="stylesheet" href="{% static 'civicmap/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>

    <div id="conteneur-carte">
        <div id="carte"></div>
        <div id="titre-mobile">🏄 MétroSurf 🏄<br>Découvrez l’Isère et le Drac comme vous ne les avez jamais vus !</div>
            <div id="legende-mobile">Légende :<br><span style="font-size: 15px;">🔵</span> Station de mesures<br><span style="font-size: 30px;">🏄</span> Repère de crue</div>
    </div>
    
    
    <script>
        var fondDeCarte = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        });

        var carte = L.map('carte', {
            center: [45.19058736617489, 5.722605074139994],
            zoom: 13,
            layers: [fondDeCarte]
        });

        var vigIcon = L.divIcon({
            className: 'point',
            html: '<span style="font-size: 15px;">🔵</span>', 
        });

        // Ajouter les stations de mesures sur la carte
        var stations = JSON.parse('{{stations|safe}}');
        stations.forEach(function(station) {
            L.marker([station.fields.latitude, station.fields.longitude], {icon: vigIcon}).addTo(carte)
                .bindPopup(`{% include "civiclapp/vigicrue.html" with data=data %}`,
                );
        });

        var emojiIcon = L.divIcon({
            className: 'point',
            html: '<span style="font-size: 30px;">🏄</span>',
        });

        // Ajouter les repères sur la carte
        var baseUrl = "{% url 'mobile' num='99999' %}".replace('99999', '').replace('//', '/');
        console.log(baseUrl);
        var reperes = JSON.parse('{{reperes|safe}}');
        reperes.forEach(function(repere) {
        var marker = L.marker([repere.fields.latitude, repere.fields.longitude], {icon: emojiIcon})
            .addTo(carte)
            .on('click', function() {
                window.location.href = baseUrl + repere.fields.id_gsheet;
            });
        });
    </script>
</body>
</html>
